# Python cache
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Poetry virtual environments (per subpackage)
**/.venv/

# VS Code and other IDEs
.idea/
*.swp

# Jupyter / IPython
.ipynb_checkpoints/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Logs
*.log

# Build artifacts
dist/
build/