name: ENFORCE_CHANGE_DIRS_PR[MAIN]

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  enforce-change-dirs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Ensure scripts are executable
        run: |
          chmod +x .github/scripts/enforce_path/*.sh

      - name: Enforce directory changes
        run: .github/scripts/enforce_path/enforce_change_dirs_main.sh "${{ github.head_ref }}" "${{ github.base_ref }}"
